<footer class="bg-white text-black py-8">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-between">
        <!-- Brand and Description -->
        <div class="w-full md:w-1/3 mb-6 md:mb-0">
          <h2 class="text-2xl font-bold mb-2">GitExplorer</h2>
          <p class="text-sm">
            Discover and explore GitHub repositories effortlessly.
          </p>
        </div>
        <!-- Navigation Links -->
        
        <!-- Contact Information -->
        <div class="w-full md:w-1/3">
          <h5 class="text-lg font-bold mb-2">Contact Us</h5>
          <p class="text-sm">Email: s1mittal@hotmail.com</p>
          <p class="text-sm flex flex-col">Follow us on:</p>
          <div class="flex space-x-4 mt-2 items-center">
            <!-- GitHub Button -->
            <div class="group relative flex flex-col items-center">
              <a href="https://github.com/thecarlover">
                <svg
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="w-8 h-8 text-black hover:scale-125 duration-200 hover:stroke-blue-500"
                >
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                  ></path>
                </svg>
              </a>
              <span
                class="absolute -top-10 left-1/2 transform -translate-x-1/2 z-20 origin-bottom scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
                >GitHub</span
              >
            </div>
  
            <!-- LinkedIn Button -->
            <div class="group relative flex flex-col items-center">
              <a
                href="https://www.linkedin.com/in/ojasvi-mittal-a787821b2"
                target="_blank"
                class="group flex justify-center p-2 rounded-md drop-shadow-xl bg-[#0077b5] text-white font-semibold hover:translate-y-1 hover:rounded-full transition-all duration-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1.1em"
                  viewBox="0 0 512 512"
                  stroke-width="0"
                  fill="currentColor"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"
                  ></path>
                </svg>
              </a>
              <span
                class="absolute -top-10 left-1/2 transform -translate-x-1/2 z-20 origin-bottom scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
                >LinkedIn</span
              >
            </div>
  
            <!-- Website Button -->
            
          </div>
        </div>
      </div>
      <div class="mt-6 border-t border-gray-300 pt-4 text-center text-sm">
        &copy; 2024 GitExplorer. All rights reserved.
      </div>
    </div>
  </footer>
  