<!-- src/app/components/readme-dialog/readme-dialog.component.html -->
<div class="readme-dialog bg-white shadow-md rounded-lg p-8 max-w-md mx-auto">
    <h1 class="text-2xl font-semibold mb-4">Welcome to GitExplorer Repo Finder!</h1>
    <p class="text-gray-700 mb-4">This is a simple Angular project to demonstrate a repository finder.</p>
    <p class="text-gray-700 mb-4">This project consists of a navbar component and a home component.</p>
    <p class="text-gray-700 mb-4">The navbar component dynamically animates the title with each letter.</p>
    <p class="text-gray-700 mb-4">The home component will contain the main content of your application.</p>
    <p class="text-gray-700 mb-4">Feel free to expand and customize this project as needed!</p>
    <button (click)="closeDialog()" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
      Close
    </button>
  </div>
  